.projects-header h2 {
    font-family: 'Fira Code', 'Courier New', Courier, monospace;;
}

.projects-header-command {
    color: var(--text-main);
    font-weight: 500;
    text-shadow: 0 0 15px rgba(255, 42, 42, 0.8);
}

.projects-split-view {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.projects-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.projects-list img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    filter: brightness(0) invert(1);
}

.project-card-wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.project-card {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    padding: 15px;
    transition: all 0.1s ease-in-out;
    width: 100%;
}

.project-card h3 {
    margin: 0 0 5px 0;
}

.project-card:hover {
    background-color: var(--bg-card);
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.3);
    transform: scale(1.02);
}

.project-card.active:hover {
    box-shadow: 10px 10px 10px rgba(255, 42, 42, 0.3);
}

.project-display-area {
    flex: 2;
    min-height: 1500px;
}

.project-info {
    overflow: hidden;
    animation: openCard 0.5s ease-out forwards;
}

.project-info img {
    width: 100%;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.project-info a {
    display: inline-block;
    font-size: 1.2rem;
    color: var(--text-main);
    text-decoration: underline;
    transition: all 0.2s ease-in-out;
    padding: 5px 5px;
}

.project-info a:hover {
    color: var(--red-primary);
    transform: scale(1.05);
}

.project-card-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-status {
    font-size: 0.7rem;
}

.status-in-production {
    color: #00ff88;
    font-size: 0.7rem;
}

.status-to-study {
    color: #17efe1;
    font-size: 0.7rem;
}

.tech-stack {
    margin: 20px 0;
}

.tech-stack h4 {
    margin-bottom: 10px;
}

.tech-stack div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tech-stack span {
    background-color: var(--red-muted);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.85em;
}

.tech-stack a {
    margin-top: 10px;
}

@keyframes openCard {
    from {
        max-height: 0px;
        padding: 0 20px;
        opacity: 0;
        border: 1px solid transparent;
        box-shadow: none;
    }
    to{
        max-height: 1700px;
        padding: 20px;
        opacity: 1;
        border: 1px solid var(--red-muted);
        box-shadow: -10px -10px 15px rgba(8, 8, 8, 0.8);
    }
}