:root {
  --bg-main: #080808;
  --bg-card: #141010;
  --red-primary: #FF2A2A;
  --red-muted: #660000;
  --text-main: #E5E7EB;
  --text-secundary: #9CA3AF;
  --shadow:
    rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Garantindo que o corpo e o HTML ocupe 100% do espaço sem barras de rolagem desnecessárias */
html, body {
  width: 100%;
  height: 100%;
  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: 'JetBrainsMono Nerd Font', 'Fira Code', 'Courier New', Courier, monospace;
  overflow-x: hidden;
}

/* O Vite coloca tudo dentro de uma div com id "root" */
#root {
  width: 100%;
  min-height: 100vh;
}